@font-face {
    font-family: 'SerendityScript';
    src: url('~@/font/Serendity-Script.woff') format('woff'),
        url('~@/font/Serendity-Script.woff2') format('woff2');
    font-style: normal;
}

.hello
    color: red;
    background: url('~@/img/nut.jpg');
    font-family: 'SerendityScript';
    font-size: 20px;
